body {
    display: grid;
    grid-template-areas:
            "topside topside "
            "leftside mainside"
            "botside botside";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 15% 1fr ;
    grid-gap: 10px;
    min-height:100vh;
    margin: 0;
    background: #E6E6FA;
}

/*header, footer, article, nav, div {*/
/*    padding: 20px;*/
/*    background: gold;*/
/*}*/

#topside {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 8;
}

#botside {
    grid-row-start: 14;
    grid-column-start: 1;
    grid-row-end: 16;
    grid-column-end: 8;
    text-align: center;
}

#mainside {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 14;
    grid-column-end: 8;
    background: white;
}

#leftside {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 14;
    grid-column-end: 1;
    background: #f8f9fa;
    text-align: left;
    /*margin-left: 10px;*/

}

#menu {
    margin-top: 10px;
    margin-left: 20px;
}

#entry {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 30%;
}


#registration {
    width: 60%;
    margin-top: 200px;
    margin-left: 200px;
}

#img_1, #img_2, #img_3{
width: 100%;
}

#info{
    margin-left: 100px;
    margin-top: 20px;
    width: 50%;
    font-size: large;
    font-weight: lighter;
}

#personalphoto{
    margin-top: 20px;
    margin-left: 100px;
    width: 10%;
    height: 20%;
}


