body {
    display: grid;
    /*grid-template-areas: "topside topside " "leftside mainside" "botside botside";*/
    grid-template-rows: 60px 1fr;
    grid-template-columns: 10% 80% 10%;
    grid-gap: 3px;
    min-height: 100vh;
    margin: 0;
    background: #343A40;
}

/*header, footer, article, nav, div {*/
/*    padding: 20px;*/
/*    background: gold;*/
/*}*/

#topside {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
}

#botside {
    grid-row-start: 14;
    grid-column-start: 2;
    grid-row-end: 16;
    grid-column-end: 3;
    text-align: center;
    background: #6C757D;
}

#mainside {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 14;
    grid-column-end: 3;
    background: white;
}

#menu {
    margin-top: 10px;
    margin-left: 20px;
}

#entry {
    margin: 17% auto;
    width: 30%;
}

#choose{
    margin-top:5%;
    text-align: center;
}

#registration {
    margin-bottom: 15%;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}


#img_1, #img_2, #img_3 {
    width: 100%;
}

#info {
    margin: 6% auto;
    width: 50%;
    font-size: large;
    font-weight: lighter;
}

#personalphoto {
    width: 20%;
    height: 30%;
}

#buy-fuel {
    margin: 15% auto;
    width: 30%;
    font-size: larger;
}



